<link rel="stylesheet" type="text/css" href="/stylesheets/signin.css">

<div class="error_explanation">
	<% if @user.errors.any? %>
	  <h3><%= pluralize(@user.errors.count, 'error') %>: </h3>
	  <ul><% @user.errors.full_messages.each do |msg| %></ul>
	    <li><%= msg %></li>
	  <% end %>
	<% end %>
</div>

<div class="signin_page">
  <h3>create an account</h3>
  <div class="form">
    <%= form_with(model: @user, local: true) do |f| %>
    <div class="input">
      <%= f.text_field :name, placeholder: 'name', class: 'field' %>
    </div>
    <div class="input">
      <%= f.email_field :email, placeholder: 'email', class: 'field' %>
    </div>
    <div class="input">
      <%= f.password_field :password, placeholder: 'password', class: 'field' %>
    </div>
    <div class="input">
      <%= f.password_field :password_confirmation, placeholder: 'confirm password', class: 'field' %>
    </div>
    <div class="button">
      <%= f.submit "create account" %>  
    </div>
    <% end %>
  </div>
  <p>Already have an account?<a href="<%= new_session_path %>"> Log in</a></p>
</div>