<h1>Post Detail Page</h1>

<p>Username: <%= @post.user.name %></p>
<p>Description: <%= @post.description %></p>
<p>Image: <%= image_tag @post.image.url %></p>

<% if @like.present? %>
  <%= link_to 'unlike', like_path(id: @like.id), method: :delete %>
<% else %>
  <%= link_to 'like', likes_path(post_id: @post.id), method: :post %>
<% end %>